.calendar-header div{
  background-color: red;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}
.calendar-day div{
  background-color: #ffffff;
  display: inline-block;
  width: 14.28%;
  text-align: center;
  color: blue;
}
.calendar-day div.hide-day{
  color: green;
}
.calendar-day div.today{
  color: red;
}