/**
* 项目级公共样式文件
*/
@import "./base.css";
:root {
  --lotteryPageBgColor: #ededf3;
}
body {
  background: var(--lotteryPageBgColor);
}
.page {
  padding: 0 calc(64px / 3);
}
/* ajax mask start */
.ajax-mask {
  background: rgba(34, 34, 34, 0.4);
  z-index: 10000;
}
.ajax-global-mask {
  background: rgba(34, 34, 34, 0.4);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ajax mask end */
/* loading start*/
.spinner {
  margin: auto;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 15px;
  height: 15px;
  background-color: #faca68;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bounce-delay 1.6s infinite ease-in-out;
  animation: bounce-delay 1.6s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.9s;
  animation-delay: -1.9s;
}

.container1 .circle2 {
  -webkit-animation-delay: -1.7s;
  animation-delay: -1.7s;
}

.container2 .circle2 {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.container1 .circle3 {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}

.container2 .circle3 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle1 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes bounce-delay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounce-delay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/*.shade{
  width: 100%;
  height: 100%;
  background-color: #939393;
  text-align: center;
  padding-top: calc(310px/3);
}
.shade-icon{
  background: url(./image/crm/icon-loading.png) no-repeat;
  background-size: contain;
  width: calc(858px/3);
  height: calc(816px/3);
  margin: 0 auto;
}
.shade-content{
  font-size: calc(45px/3);
  line-height: 100%;
  color: white;
  margin-top: calc(80px/3);
}*/

/* loading end*/
/* alert confirm start */
.app-popup-tip {
  width: 75%;
}
.app-popup-tip .app-popup-tip-header {
  height: calc(64px / 3);
  background: url(./image/tip-header-bg.png) no-repeat top right;
  background-size: calc(2400px / 3);
  border-radius: 12px 0 0 0;
}
.app-popup-tip .app-popup-tip-main {
  background: white;
  border-radius: 0 0 12px 0;
}
.app-popup-tip .close-box {
  position: absolute;
  top: -12px;
  right: -6px;
}
.app-popup-tip .close-btn {
  width: calc(87px / 3);
  height: calc(87px / 3);
  line-height: calc(87px / 3);
  border-radius: calc(87px / 3);
  background: #ffffff;
  border: none;
  color: #848484;
  font-size: 24px;
  cursor: pointer;
}
.app-popup-tip .icon-bl {
  position: absolute;
  bottom: -3px;
  left: -6px;
  width: calc(61px / 3);
  height: calc(71px / 3);
  background: url(./image/tip-arrow-lb.png) no-repeat;
  background-size: 100%;
}
.app-popup-tip .app-popup-tip-main-inner {
  padding-bottom: calc(56px / 3);
}
.app-popup-tip  .icon-wrapper {
  padding: calc(30px / 3) 0 calc(18px / 3) 0;
}
.app-popup-tip .icon-box {
  width: calc(330px / 3);
  height: calc(132px / 3);
  background: url(./image/tip-bg.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
}
.app-popup-tip .icon-error .icon {
  width: calc(116px / 3);
  height: calc(122px / 3);
  background: url(./image/icon-error.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  left: 2px;
}
.app-popup-tip .icon-success .icon {
  width: calc(116px / 3);
  height: calc(122px / 3);
  background: url(./image/icon-success.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  left: 2px;
}
.app-popup-tip .icon-info .icon {
  width: calc(88px / 3);
  height: calc(113px / 3);
  background: url(./image/icon-info.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  left: 2px;
}
.app-popup-tip .popup-content {
  padding: 0 calc(36px / 3);
  color: #ff4214;
  font-size: calc(38px / 3);
  text-align: center;
}
/* alert confirm end */
